  <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <!-- <li class="active"><a href="http://twitter.github.com/bootstrap/examples/marketing-narrow.html#">Home</a></li>
          <li><a href="http://twitter.github.com/bootstrap/examples/marketing-narrow.html#">About</a></li>
      -->     <li>
            <a href="mailto:acarey+railsbridge@gmail.com">Contact</a>
          </li>
        </ul>
        <h3 class="muted">RailsBridge Indianapolis</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h2>Ruby on Rails workshops for women and their friends</h2>
        <p class="lead">Total programming novices, system administrators, developers in other languages are all welcome. We'll have several different classes separated by experience level.</p>
        <a class="btn btn-large btn-success" href="http://www.meetup.com/indyrb/">Sign up today</a>
        <br />
  <!--  -->

      </div>

      <hr>



      <div class="row-fluid marketing">
     
  

      <div class="span6">
         <h4>Friday, May 24th</h4>
          <p>
            <ul>
              <li>6:30pm-8:30pm: Software Installfest (REQUIRED)</li>
            </ul>
            *Please plan on being there for 30-90 minutes to get all software installed. (Every install is a unique snowflake, and some snowflakes take longer to install software on than others.)
          </p>
        <h4>Saturday, May 25th</h4>
        <p>
          <ul>
            <li>9-9:30am: Check in, coffee, bagels</li>
            <li>9:30ish: Opening presentation / divide into classes</li>
            <li>10am: Break into small groups</li>
            <li>12:30pm: Lunch</li>
            <li>1:30pm: Back to small groups</li>
            <li>4:30pm: Closing presentation</li>
            <li>5pm: After party - TBD</li>
          </ul>
       

        </div>

              <div class="span6">
                 <h4>Where</h4>
             <p>      
          <address>
            <strong>The Speak Easy</strong><br>
            5255 North Winthrop Avenue<br>
            Indianapolis, IN 46220<br>
          </address>
        </p>  
         
         </p>
          <h4>Volunteers</h4>
          <p>  We could always use help with spreading the word, organizing and teaching. Ideally, we would like to have a Teacher or TA for every 2-3 students.  
            <br />  
            <a class="btn btn-large btn-info" href="https://docs.google.com/spreadsheet/viewform?formkey=dENUVUtKODhJOVNNUUxSRm5jRDR1eUE6MA">Volunteer Here</a>
          </p>
      </div>
      </div>

      <hr>
      <h3>Our Sponsors</h3>
        <a href="http://speakeasyindy.com/">
        <%=image_tag "speakeasy_logo_01.png"%>
      </a>
      
      
      <hr>

      <div class="footer">
        <p><a herf="http://indyrb.org/">indy.rb</a></p>
      </div>

    </div> <!-- /container -->