  <div class="container-narrow">

<!--       <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="http://twitter.github.com/bootstrap/examples/marketing-narrow.html#">Home</a></li>
          <li><a href="http://twitter.github.com/bootstrap/examples/marketing-narrow.html#">About</a></li>
          <li><a href="http://twitter.github.com/bootstrap/examples/marketing-narrow.html#">Contact</a></li>
        </ul>
        <h3 class="muted">Project name</h3>
      </div> -->

      <hr>

      <div class="jumbotron">
        <h2>Ruby on Rails workshops for women and their friends</h2>
        <p class="lead">Total programming novices, system administrators, developers in other languages are all welcome. We'll have several different classes separated by experience level.</p>
        <a class="btn btn-large btn-success" href="http://www.meetup.com/indyrb/">Sign up today</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Friday, May 24th</h4>
         <ul>
          <li>6:30pm-8:30pm: Software Installfest (REQUIRED)</li>

            *Please plan on being there for 30-90 minutes to get all software installed. (Every install is a unique snowflake, and some snowflakes take longer to install software on than others.)
          

      </div>

      <div class="span6">
        <h4>Saturday, May 25th</h4>
        <p>
          <ul>
            <li>9-9:30am: Check in, coffee, bagels</li>
            <li>9:30ish: Opening presentation / divide into classes</li>
            <li>10am: Break into small groups</li>
            <li>12:30pm: Lunch</li>
            <li>1:30pm: Back to small groups</li>
            <li>4:30pm: Closing presentation</li>
            <li>5pm: After party - TBD</li>
          </ul>
        </p>
          <!-- <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->
        </div>
      </div>

      <hr>

      <div class="footer">
        <p><a herf="http://indyrb.org/">indy.rb</a></p>
      </div>

    </div> <!-- /container -->